/* Your styles here */
body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.6;
    box-sizing: border-box;
    /* margin: auto; */
    color: #393d41 ;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

/* HEADER */

.header {
    background-image: url(../images/banner.jpg);
    border: 2rem;
    
    background-size: cover;
    padding: 2rem;
    background-color: black;
    
}

.logo {
    height: auto;
    width: auto;
    padding: 1.5em 2em;
    background-color: black;
    
}

h1 {
    font-family: 'montserrat';
    font-size: 2.5rem;
    font-weight: bold;
    color: #04adad;
}

button {
    background-color: orangered;
    color: white;
    padding: 15px;
    border: 0;
    font-weight: bold;
    border-radius: 5%;  
    cursor: pointer;
}
/* FINE HEADER */

/* MAIN */

.nav1 {
    padding: 20% 10%;
}

.Rounded {
    border-radius: 50%;
    width: 90%;
}
    
h4 {
    font-size: 1.4rem;
    font-weight:bold ;
    color: #04adad;
} 

div {
    
    border: #dee1e3;
    border-radius: 1%;
    border-style: solid;
}

h3 {
    font-size: 35px;
    font-family: 'montserrat', bold;
    border: #dee1e3;
}

.rednav {
    background-color: red;
    color: white;
    padding: 1.5em 2em;
}

.oblique {
    font-style: oblique;
}

/* FINE MAIN */

/* FOOTER */

footer{
    background-color: #25a2c3;
    color: white;
    padding: 3em 2em;
}

footer a{
    color: #c8e7f0  ;
}

h2 {
    font-size: 30px;
    font-family: 'montserrat', bold;
}

hr {
    width: 50%;
    border: 1px solid;
}
/* FINE FOOTER */